@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
layer(base);

@import 'tailwindcss';

@theme {
  --color-card: hsl(240 6% 8%);
  --color-muted: hsl(240 6% 13%);
  --color-border: hsl(240 6% 19%);
  --color-foreground: hsl(240 10% 98%);
}


@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-muted, currentcolor);
    opacity: 80;
  }
  * {
    @apply border-border font-["Inter"];
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-zinc-950 text-foreground;
  }
}

@keyframes shimmer {
  0%, 90%, 100% {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }
  30%, 60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

::selection {
  @apply bg-cyan-700;
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.font-poppins {
    font-family: "Poppins";
}

.bg-dot-thick { /* blue-500 */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='16' height='16'%3E%3Ccircle fill='%23262626' cx='10' cy='10' r='2.5'/%3E%3C/svg%3E");
  background-repeat: repeat;
  transition: background-image 0.3s ease-in-out;
}
.bg-dot-thick-hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='16' height='16'%3E%3Ccircle fill='%232563eb' cx='10' cy='10' r='2.5'/%3E%3C/svg%3E");
  background-repeat: repeat;
  transition: all 0.3s ease-in-out;
}