---
import Hero from '../components/hero'
import Info from '../components/info.astro'
import Boxes from '../components/boxes.astro'
import ServicesMarquee from '../components/services-marquee'
import Layout from '../layouts/Layout.astro'
---

<Layout>
	<div class="min-h-screen flex flex-col">
    <div class="flex-grow">
      <Hero client:load />
    </div>
      <ServicesMarquee />
  </div>
  <Info />
  <Boxes />
</Layout>
