---
import { cn } from "@/lib/utils"
import Ping  from "./custom/ping"
import EvervaultCard from "./custom/evervault-card"
import Marquee from "./custom/marquee"
import Amex from "@/assets/payments/amex.svg"
import Alipay from "@/assets/payments/alipay.svg"
import ApplePay from "@/assets/payments/applepay.svg"
import Bitcoin from "@/assets/payments/btc.svg"
import Cashapp from "@/assets/payments/cash-app.svg"
import Coinbase from "@/assets/payments/coinbase.svg"
import Discover from "@/assets/payments/discover.svg"
import GooglePay from "@/assets/payments/googlepay.svg"
import Link from "@/assets/payments/link.svg"
import Litecoin from "@/assets/payments/ltc.svg"
import Mastercard from "@/assets/payments/mastercard.svg"
import Nowpayments from "@/assets/payments/nowpayments.svg"
import PayPal from "@/assets/payments/paypal.svg"
import Solana from "@/assets/payments/sol.svg"
import Stripe from "@/assets/payments/stripe.svg"
import Visa from "@/assets/payments/visa.svg"


const PaymentMethods = [
  [
    {
      name: "ApplePay",
      icon:  ApplePay,
    },
    {
      name: "GooglePay",
      icon:  GooglePay,
    },
    {
      name: "Visa",
      icon:  Visa,
    },
    {
      name: "Mastercard",
      icon:  Mastercard,
      className: "-p-3 aspect-video bg-black"
    },
    {
      name: "Amex",
      icon:  Amex,
      className: "-p-3 aspect-video bg-[#027DC2]"
    },
    {
      name: "Discover",
      icon:  Discover,
    },
  ],
  [
    {
      name: "PayPal",
      icon:  PayPal,
    },
    {
      name: "Stripe",
      icon:  Stripe,
    },
    {
      name: "Cashapp",
      icon:  Cashapp,
    },
    {
      name: "Link",
      icon:  Link,
    },
    {
      name: "Alipay",
      icon:  Alipay,
    },
    {
      name: "Coinbase",
      icon:  Coinbase,
    },
    {
      name: "Nowpayments",
      icon:  Nowpayments,
      className: "bg-zinc-800"
    },
    {
      name: "Bitcoin",
      icon:  Bitcoin,
    },
    {
      name: "Litecoin",
      icon:  Litecoin,
      className: "bg-[#335D9C]"
    },
    {
      name: "Solana",
      icon:  Solana,
    },
  ],
]
---

<div class="flex flex-col items-center justify-center gap-y-6">
    <div class="flex flex-col text-start md:text-center gap-y-4 px-4 md:my-8">
    <h3 class="text-white text-3xl sm:text-4xl 2xl:text-5xl font-bold font-poppins">Why choose us?</h3>
    <p class="text-zinc-100 text-sm xl:text-base 2xl:text-lg max-w-xl 2xl:max-w-2xl">
        Experience premium SMS verification with unmatched reliability and convenience. Our platform combines robust security, intuitive tools, and flexible payment options to deliver a seamless verification experience every time.
    </p>
    </div>
    <div class="flex flex-col gap-4 px-4 max-w-7xl mx-auto">
    <div class="grid grid-flow-row grid-cols-1 gap-4 sm:grid-cols-6 lg:grid-cols-7">
        <div class="col-span-1 h-72 w-full sm:col-span-3 md:col-span-2">
          <div
              class="flex h-full w-full flex-col items-center justify-center overflow-hidden rounded-md bg-muted shadow-md">
              <div class="relative w-full flex-1 overflow-hidden bg-card/50">
              <div class="flex justify-center items-center size-full">
                  <Ping client:idle />
              </div>
              </div>
              <div class="p-4 text-sm border-t">
                <span class="font-medium text-cyan-500">Uptime:</span>
                <span class="text-zinc-300">
                  An up-to-date status page displaying real-time latency and responses.
                </span>
              </div>
          </div>
        </div>
        <div class="col-span-1 h-72 w-full sm:col-span-3 md:col-span-2">
          <div
              class="flex h-full w-full flex-col items-center justify-center overflow-hidden rounded-md bg-muted shadow-md">
              <div class="relative w-full flex-1 overflow-hidden bg-card/50">
              <EvervaultCard text="Secure" client:idle />
              </div>
              <div class="p-4 text-sm border-t">
                <span class="font-medium text-cyan-500">Security first:</span>
                <span class="text-zinc-300">
                  All sensitive data is stored securely and we do not log user activity.
                </span>
              </div>
          </div>
        </div>
        <div class="col-span-1 h-72 w-full sm:col-span-6 md:col-span-2 lg:col-span-3">
          <div class="flex h-full w-full flex-col items-center justify-center rounded-md bg-muted shadow-md">
              <div class="relative w-full flex-1 overflow-hidden bg-linear-to-b from-transparent  to-card">
              <img
                  alt="Dashboard Placeholder" loading="lazy" width={2062} height={854}
                  class="absolute left-8 top-8 z-10 rounded-md border"
                  src="/dashboard.png"/>
              </div>
              <div class="p-4 text-sm border-t">
                <span class="font-medium text-cyan-500">Custom dashboard:</span>
                <span class="text-zinc-300">
                  View and manage your numbers effortlessly in our user-friendly environment, built from the ground up.
                </span>
              </div>
          </div>
        </div>
    </div>
    <div class="grid grid-flow-row grid-cols-1 gap-4 sm:grid-cols-6 lg:grid-cols-7">
        <div class="col-span-1 h-72 w-full sm:col-span-6 md:col-span-2 lg:col-span-3">
        <div
            class="flex h-full w-full flex-col items-center justify-center overflow-hidden rounded-md bg-muted shadow-md">
            <div class="relative flex w-full flex-1 select-none items-center justify-center overflow-hidden rounded-t-md bg-linear-to-br from-transparent to-card">
              <div class="relative z-10 rounded-full bg-transparent">
                  <Marquee repeat={6} class="[--duration:24s]">
                    {PaymentMethods[0].map((method) => (
                        <span class="h-16 px-2 flex items-center justify-center my-auto bg-card rounded-lg border border-zinc-200/40">
                        <img src={method.icon.src} alt={method.name} class={cn("h-12 w-auto bg-zinc-200 p-3 aspect-video rounded-lg", method.className)} />
                    </span>
                    ))}
                  </Marquee>
                  <Marquee reverse repeat={10} class="[--duration:40s]">
                    {PaymentMethods[1].map((method) => (
                        <span class="h-16 px-2 flex items-center justify-center my-auto bg-card rounded-lg border border-zinc-200/40">
                        <img src={method.icon.src} alt={method.name} class={cn("h-12 w-auto bg-zinc-200 p-3 aspect-video rounded-lg", method.className)} />
                    </span>
                    ))}
                  </Marquee>
              </div>
            </div>
            <div class="p-4 text-sm border-t">
              <span class="text-cyan-500 font-medium">Secure payments:</span>
              <span class="text-zinc-300">
                We support trusted payment methods ensuring you can make safe transactions the way you want!
              </span>
            </div>
        </div>
        </div>
        <div class="col-span-1 h-72 w-full sm:col-span-3 md:col-span-2">
        <div
            class="flex h-full w-full flex-col items-center justify-center overflow-hidden rounded-md bg-muted shadow-md">
            <div class="relative w-full flex-1 overflow-hidden bg-linear-to-tr from-transparent to-card">
              <img
                alt="Dashboard Placeholder" loading="lazy" width={2062} height={854}
                class="absolute right-4 top-8 z-10 rounded-md border"
                src="/getnumber.png"
                />
            </div>
            <div class="p-4 text-sm border-t">
              <span class="font-medium text-cyan-500">Advanced Discord Bot:</span>
              <span class="text-zinc-300">
                Manage your numbers from the comfort of your Discord account.
              </span>
            </div>
        </div>
        </div>
        <div class="col-span-1 h-72 w-full sm:col-span-3 md:col-span-2">
        <div
            class="flex h-full w-full flex-col items-center justify-center overflow-hidden rounded-md bg-muted shadow-md">
            <div class="relative w-full flex-1 overflow-hidden bg-linear-to-l from-transparent to-card">
            <img
                alt="Dashboard Placeholder"
                width={1662} height={1230}
                class="absolute left-4 top-12 z-10 rounded-md border"
                src="/autocomplete.png"
            />
            </div>
            <div class="p-4 text-sm border-t">
              <span class="font-medium text-cyan-500">No guesswork required:</span>
              <span class="text-zinc-300">
                Autocomplete shows exactly which services you can use.
              </span>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>