---
import { FaDiscord } from "react-icons/fa6"
import {FaTelegramPlane} from "react-icons/fa"
---


<div class="flex flex-col items-center justify-center gap-y-7 w-full text-zinc-200 text-sm py-8 mt-12 border-t border-zinc-500/30">
      <div class="flex gap-x-5">
        <a href="/terms" class="hover:underline underline-offset-1">
          Terms of Service
        </a>
        <a href="/privacy-policy" class="hover:underline underline-offset-1">
          Privacy Policy
        </a>
        <a href="/services" class="hover:underline underline-offset-1">
          Service List
        </a>
      </div>
      <div class="flex gap-x-5">
        <a href="https://discord.gg/alterasms" target="_blank">
          <FaDiscord className="size-6" />
        </a>
        <a href="https://t.me/alterasms" target="_blank">
          <FaTelegramPlane className="size-6" />
        </a>
        <a href="https://vacban.wtf/threads/89618/" target="_blank" class="my-auto">
          <img src="/socials/vacban.png" alt="Vacban logo" class="w-6" />
        </a>
        {/*<a href="https://www.elitepvpers.com/forum/trading/5298480-cheap-reliable-sms-verification.html#post40274683" target="_blank">*/}
        {/*  <img src="/socials/elitepvpers.png" alt="ElitePVPers logo" class="size-6 bg-zinc-300 rounded-md" />*/}
        {/*</a>*/}
      </div>
      <div>
        <p class="text-xs sm:text-sm font-light">© 2025 AlteraSMS. All Rights Reserved.</p>
      </div>
    </div>